go 1.26.3

use (
	./pkg
	./services/api-gateway
	./services/auth-service
	./services/account-service
	./services/offer-service
	./services/payment-executor
	./services/notification-service
	./workers/offer-expiry-worker
	./workers/offer-outbox-publisher
	./services/payment-service
	./services/reconciliation-service
	./workers/outbox-publisher
)
